.avatarImg{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 20px 20px;
  border: 2px solid #fff3;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.containerAvatar{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border-top: 1px solid #ffffff1a;
  padding: 20px;
  margin-top: 15px;
}

.avatarImg:hover{
  cursor: pointer;
  border: 2px solid #fff;
}

.avatarImg:active{
  transform: translateY(1px);
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

.SelectAvatarTxt{
  margin: 10px 0 0 0;
}
